$primary: #1a3d64;
$secondary: #0c2b4e;
$accent: #1d546c;
$neutral-light: #f4f4f4;
$neutral-dark: #454545;

$radius-lg: 14px;
$radius-md: 8px;


$primary-light: #4a7ebB;
$primary-dark: #1a3d64;
$accent-light: #3b7c99;
$accent-dark: #1d546c;