.font-sans {
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}

.text-h1 {
  font-size: 48px;
  line-height: 1.2;
  font-family: var(--font-display);
  font-weight: bold;
}

.text-h2 {
  font-size: 32px;
  line-height: 1;
  font-family: var(--font-display);
  font-weight: bold;
}

.text-body {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--font-sans);
}

.text-caption {
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font-sans);
  font-weight: 300;
}
